body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3EDE2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-section {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.eh-hoa-title {
    font-family: 'HudsonNY-serif', serif;
    font-size: 150px;
    color: #FAFEFE;
    text-shadow: 20px 17px 0 #581229;
}

.content-section {
    background-color: #DED3C2;
    padding: 40px;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 17px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.auntie-image {
    flex: 1;
    text-align: right;
}

.auntie {
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
}

.social-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(64, 0, 0, 0.42);
    font-family: 'Marker Felt', sans-serif;
    font-weight: 300;
}

@media (max-width: 600px) {
    .footer {
        font-size: 12px;
    }
}
